
makeathon-content/
.DS_Store
.Rhistory
lecture-pulse-repo/
HCDE copy/
photos/lecturepulse/Full Assembly.step
photos/lecturepulse/assembly.glb
photos/lecturepulse/assembly-spin.gif
photos/lecturepulse/finalpic.png
blackout-2023-robot-cad/
blackout-2024-robot-cad/
Electronics-Car-Race/
